DATABASE_URL="postgresql://postgres:postgres@localhost:5432/project_dashboard?schema=public"
JWT_ACCESS_SECRET="dev-access-secret-change-in-prod-8f3a2b1c"
JWT_REFRESH_SECRET="dev-refresh-secret-change-in-prod-9e4d7c6b"
JWT_ACCESS_EXPIRES="15m"
JWT_REFRESH_EXPIRES="7d"
PORT=4000
CLIENT_URL="http://localhost:5173"
NODE_ENV=development
